@media (max-width:1024px) {
        .foods__row {
                flex-direction: column;
                align-items: center;
        }

        .foods__left {
                width: 100%;
                object-fit: cover;
                position: relative;
        }

        .foods__left img {
                position: absolute;
                top: 0;
                left: -10px;
                width: calc(100% + 20px);
        }

        .foods__right {
                width: 100%;
        }

}

@media (max-width:950px) {
        .history .container {
                flex-direction: column;
                gap: 45px;
        }

        .gallery__row {
                grid-template-areas:
                        "a a b "
                        "d  f f"
                        "c e .";
        }
}

@media (max-width:850px) {
        .nav__right {
                display: none;
        }

        .bars {
                display: block;
        }

        .bron .container {
                flex-direction: column;
                gap: 25px;
        }
}

@media (max-width:600px) {
        .hero__info {
                max-width: 100%;
                text-align: center;
        }

        .hero__info p::before {
                display: none;
        }

        .hero__info p::after {
                display: none;
        }

        .hero__info h1 span {
                font-size: 3.2rem;
                line-height: 60px;
        }

        .hero__info h1 {
                font-size: 2.5rem;
                line-height: 45px;

        }

        .about__row {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        .history__right {
                width: 100%;
                height: 400px;
        }

        .history__right-img1 {
                width: 40%;
                height: 54%;
        }

        .history__right-img2 {
                width: 50%;
                height: 80%;
                right: 75px;
        }

        .history__right-img3 {
                width: 40%;
                height: 50%;
        }

        .born__info h1 {
                font-size: 2.25rem;
        }

        .born__info p {
                font-size: 18px;
        }

        .foods {
                padding: 60px 0 80px 0;
        }

        .menu {
                padding: 60px 0 90px;

        }

        .gallery__row {
                grid-template-areas:
                        "a a "
                        "d  b"
                        "f f"
                        "c e";
        }
        .footer-title{
                font-size: 35px;
        }
}

@media (max-width:500px) {
        .history__total {
                flex-direction: column;
        }

        .history__right {
                height: 350px;
        }

        .foods__title {
                font-size: 40px;
                width: 30%;
                margin: 0 auto 65px auto;
                line-height: 45px;
        }

        .foods__info .dashed {
                display: none;
        }

        .foods__info {
                flex-direction: column;
                align-items: flex-start;
        }

        .foods__menu {
                gap: 12px;
        }

        .foods__name {
                font-size: 20px;
        }

        .gallery__row {
                grid-template-areas:
                        "a"
                        "b"
                        "c"
                        "d"
                        "f"
                        "e";
        }

        .gallery::before {
                display: none;
        }

        .gallery::after {
                display: none;
        }
}

@media (max-width:400px) {
        .history__right {
                height: 250px;
        }

        .foods__menu .img {
                width: 130px;
        }

        .menu__row {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        .cookers__col {
                height: 380px;
        }
        
}